.login-page {
    &__main {
        width: 100%;
        height: calc(100vh - 70px);
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../images/backgrounds/background2.png') no-repeat center;
        background-size: cover;
    }
}