mixin advantage({svg, name, subtext})
    .advantage
        .advantage__image
            #{svg}
        .advantage__words
            h3.advantage__name !{name}
            p.advantage__subtext !{subtext}