.checkbox-list {
    &__button {
        position: relative;
        border: none;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        width: 266px;
        padding: 0;
        text-align: left;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 17.4px;

        &::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 14px;
            display: block;
            width: 6px;
            height: 6px;
            border: 2px solid #8F8FA0;
            border-top: none;
            border-left: none;

            transform: rotate(45deg);
            transition: .2s transform, .2s top;
        }
    }

    &__items {
        display: none;
        margin: 0;
        padding: 0;
    }

    &_extended:not(&_extended-always) &__button::after,
    &_extended-always &__button::after {
        transform: rotate(225deg);
        top: 5px;
    }

    &_extended &__items, 
    &_extended-always &__items{
        display: block;
        z-index: 50;
    }

    @media (max-width: 1060px) {
        &__button {
            width: 240px;
        }
    }
}