.button_purple {
    border: none;
    cursor: pointer;
    border-radius: 22px;
    padding: 10px 20px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    transition: .2s opacity;
}

.button_white {
    border: none;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-radius: 22px;
    padding: 9px 20px;

    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 700;    text-transform: uppercase;
    color: $purple;

    transition: .2s color;

    &::after {
        content: "";
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        z-index: -1;

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;

        transition: .2s opacity;
    }
    &:hover {
        color: rgba(188, 156, 255, .5);
    }
}

.button_purple:hover, .button_purple:active,
.button_white:hover:after, .button_white:active:after {
    opacity: .5;
}

.button_no-border {
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: #fff;

    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 700;    text-transform: uppercase;
    color: $purple;

    transition: .2s color;
}

.button_no-border:hover, .button_no-border:active {
    color: $dark-50;
}
