mixin text-field({type='text', placeholder="", value=""})
    input(
            type= type,
            placeholder= placeholder,
            value= value,
            class!= attributes.class ? 'text-field ' + attributes.class : 'text-field',
        )