//- Headers & Footers
include ../../components/headers-and-footers/header/header
include ../../components/headers-and-footers/footer/footer
//- Form Elements
include ../../components/form-elements/toggle/toggle
include ../../components/form-elements/comment/comment
include ../../components/form-elements/dropdown/dropdown
include ../../components/form-elements/checkbox/checkbox
include ../../components/form-elements/radio-button/radio
include ../../components/form-elements/advantage/advantage
include ../../components/form-elements/text-field/text-field
include ../../components/form-elements/datepicker/datepicker
include ../../components/form-elements/pagination/pagination
include ../../components/form-elements/rate-button/rate-button
include ../../components/form-elements/like-button/like-button
include ../../components/form-elements/bullet-list/bullet-list
include ../../components/form-elements/range-slider/range-slider
include ../../components/form-elements/rich-checkbox/rich-checkbox
include ../../components/form-elements/checkbox-list/checkbox-list
//- Cards
include ../../components/cards/room-card/room-card
include ../../components/cards/login-card/login-card
include ../../components/cards/select-room-card/select-room-card
include ../../components/cards/registration-card/registration-card

doctype html 
html(lang="ru")
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        title UI Kit
    body 
        //- Headers & Footers
        h1.block__name Headers & Footers
        +header({registred: false})(class="headers__block")
        +header({registred: true, userName: "Юлий Цезарь"})(class="header__block-2")

        +footer({mobile: false})(class="footer__block")
        +footer({mobile: true})(class="footer__mobile-block")

        //- Form Elements
        h1.block__name Form Elements
        .page
            .page__column.page__column-1
                .page__element
                    .page__annotation
                        h3.page__element-name Text Field
                        p.page__subtext Default
                    +text-field({type: "email", placeholder: "Email"})

                .page__element
                    .page__annotation
                        h3.page__element-name Text Field
                        p.page__subtext Hover / Focus
                    +text-field({type: "text", placeholder: "Type something...", value: "This is pretty awesome"})
                .page__element
                    .page__annotation
                        h3.page__element-name Dropdown
                    +dropdown({
                        placeholder: "Сколько гостей", isActive: false, withButton: true, items: [{
                            id: "adults",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "гость, гостя, гостей",
                            itemName: "Взрослые",
                            startAmount: "0"
                        },
                        {
                            id: "kids",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "гость, гостя, гостей",
                            itemName: "Дети",
                            startAmount: "0"
                        },
                        {
                            id: "babys",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "младенец, младенца, младенцев",
                            itemName: "Младенцы",
                            startAmount: "0"
                        }
                    ]})

                .page__element.page__element_indent-40
                    .page__annotation
                        h3.page__element-name Masked Text Field
                    +datepicker({type: "standart"})

                .page__element.page_date-dropdown.page__element_indent-40
                    .page__annotation
                        h3.page__element-name Date dropdown
                    +datepicker({type: "mini"})(class="datepicker_mini_start")
                    .page__annotation
                        h3.page__element-name Date dropdown
                    +datepicker({type: "mini", value: "19.08.2019"})(class="datepicker_mini_end")

                .page__element.page__element_indent-40
                    .page__annotation
                        h3.page__element-name Filter date dropdown
                    +datepicker({type: "filter", value: "19 авг - 23 авг"})

                .page__element.page__element_indent-100
                    .page__annotation
                        h3.page__element-name Subscription text field
                    include ../../components/form-elements/subscription-field/subscription-field

                .page__element
                    .page__annotation
                        h3.page__element-name Dropdown
                        p.page__subtext Default
                    +dropdown({
                        placeholder: "Какие удобства", isActive: false, withButton: false, items: [{
                            id: "bedrooms",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "спальня, спальни, спален",
                            itemName: "Спальни",
                            startAmount: "2"
                        },
                        {
                            id: "beds",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "кровать, кровати, кроватей",
                            itemName: "Кровати",
                            startAmount: "2"
                        },
                        {
                            id: "bathrooms",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "ванная, ванные, ванн",
                            itemName: "Ванные комнаты",
                            startAmount: "0"
                        }
                    ]})

                .page__element.page__element_indent-250
                    .page__annotation
                        h3.page__element-name Dropdown
                        p.page__subtext Expanded
                    +dropdown({
                        placeholder: "Какие удобства", isActive: true, withButton: false, items: [{
                            id: "bedrooms",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "спальня, спальни, спален",
                            itemName: "Спальни",
                            startAmount: "2"
                        },
                        {
                            id: "beds",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "кровать, кровати, кроватей",
                            itemName: "Кровати",
                            startAmount: "2"
                        },
                        {
                            id: "bathrooms",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "ванная, ванные, ванн",
                            itemName: "Ванные комнаты",
                            startAmount: "0"
                        }
                    ]})

                .page__element
                    +checkbox-list({text: "Expandable checkbox list", isActive: false})
                        +checkbox({text: "Завтрак", isChecked: false})
                        +checkbox({text: "Письменный стол", isChecked: true})
                        +checkbox({text: "Стул для кормления", isChecked: true})
                        +checkbox({text: "Кроватка", isChecked: true})
                        +checkbox({text: "Телевизор", isChecked: false})
                        +checkbox({text: "Шампунь", isChecked: false})
                        +checkbox({text: "Телевизор", isChecked: false})
                        +checkbox({text: "Шампунь", isChecked: false})

                    +checkbox-list({text: "Expandable checkbox list", isActive: true})
                        +checkbox({text: "Завтрак", isChecked: false})
                        +checkbox({text: "Письменный стол", isChecked: true})
                        +checkbox({text: "Стул для кормления", isChecked: true})
                        +checkbox({text: "Кроватка", isChecked: true})
                        +checkbox({text: "Телевизор", isChecked: false})
                        +checkbox({text: "Шампунь", isChecked: false})
                        +checkbox({text: "Телевизор", isChecked: false})
                        +checkbox({text: "Шампунь", isChecked: false})
                
                .page__element
                    +advantage({
                        svg: "svg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http:\/\/www.w3.org/2000/svg'><path d='M26.1875 29.0938C24.375 30.3438 22.3125 30.9688 20 30.9688C17.6875 30.9688 15.5938 30.3438 13.7188 29.0938C11.9062 27.7812 10.5938 26.0938 9.78125 24.0312H30.2188C29.4062 26.0938 28.0625 27.7812 26.1875 29.0938ZM15.0312 17.1875C14.4688 17.75 13.7812 18.0312 12.9688 18.0312C12.1562 18.0312 11.4375 17.75 10.8125 17.1875C10.25 16.5625 9.96875 15.8438 9.96875 15.0312C9.96875 14.2188 10.25 13.5312 10.8125 12.9688C11.4375 12.3438 12.1562 12.0312 12.9688 12.0312C13.7812 12.0312 14.4688 12.3438 15.0312 12.9688C15.6562 13.5312 15.9688 14.2188 15.9688 15.0312C15.9688 15.8438 15.6562 16.5625 15.0312 17.1875ZM29.0938 17.1875C28.5312 17.75 27.8438 18.0312 27.0312 18.0312C26.2188 18.0312 25.5 17.75 24.875 17.1875C24.3125 16.5625 24.0312 15.8438 24.0312 15.0312C24.0312 14.2188 24.3125 13.5312 24.875 12.9688C25.5 12.3438 26.2188 12.0312 27.0312 12.0312C27.8438 12.0312 28.5312 12.3438 29.0938 12.9688C29.7188 13.5312 30.0312 14.2188 30.0312 15.0312C30.0312 15.8438 29.7188 16.5625 29.0938 17.1875ZM8.65625 31.3438C11.8438 34.4688 15.625 36.0312 20 36.0312C24.375 36.0312 28.125 34.4688 31.25 31.3438C34.4375 28.1562 36.0312 24.375 36.0312 20C36.0312 15.625 34.4375 11.875 31.25 8.75C28.125 5.5625 24.375 3.96875 20 3.96875C15.625 3.96875 11.8438 5.5625 8.65625 8.75C5.53125 11.875 3.96875 15.625 3.96875 20C3.96875 24.375 5.53125 28.1562 8.65625 31.3438ZM5.84375 5.9375C9.78125 2 14.5 0.03125 20 0.03125C25.5 0.03125 30.1875 2 34.0625 5.9375C38 9.8125 39.9688 14.5 39.9688 20C39.9688 25.5 38 30.2188 34.0625 34.1562C30.1875 38.0312 25.5 39.9688 20 39.9688C14.5 39.9688 9.78125 38.0312 5.84375 34.1562C1.96875 30.2188 0.03125 25.5 0.03125 20C0.03125 14.5 1.96875 9.8125 5.84375 5.9375Z' fill='url(#paint0_linear)'/><defs><linearGradient id='paint0_linear' x1='20' y1='-4' x2='20' y2='44' gradientUnits='userSpaceOnUse'><stop stop-color='#BC9CFF'/><stop offset='1' stop-color='#8BA4F9'/></linearGradient></defs></svg",
                        name: "Комфорт",
                        subtext: "Шумопоглощающие стены"
                    })
                    +advantage({
                        svg: "svg width='36' height='38' viewBox='0 0 36 38' fill='none' xmlns='http:\/\/www.w3.org/2000/svg'><path d='M31.9688 26V21.9688H28.0312V26H31.9688ZM31.9688 33.9688V30.0312H28.0312V33.9688H31.9688ZM19.9688 9.96875V6.03125H16.0312V9.96875H19.9688ZM19.9688 18.0312V14H16.0312V18.0312H19.9688ZM19.9688 26V21.9688H16.0312V26H19.9688ZM19.9688 33.9688V30.0312H16.0312V33.9688H19.9688ZM7.96875 18.0312V14H4.03125V18.0312H7.96875ZM7.96875 26V21.9688H4.03125V26H7.96875ZM7.96875 33.9688V30.0312H4.03125V33.9688H7.96875ZM24 18.0312H36V38H0V9.96875H12V6.03125L18 0.03125L24 6.03125V18.0312Z' fill='url(#paint0_linear)'/><defs><linearGradient id='paint0_linear' x1='18' y1='-4' x2='18' y2='44' gradientUnits='userSpaceOnUse'><stop stop-color='#BC9CFF'/><stop offset='1' stop-color='#8BA4F9'/></linearGradient></defs></svg",
                        name: "Удобство",
                        subtext: "Окно в каждой из спален"
                    })

            .page__column.page__column-2
                .page__element.page__element_indent-40
                    .page__annotation
                        h3.page__element-name.page__element-name_indent-16 Checkbox Buttons
                    +checkbox({text: "Можно курить", isChecked: false})
                    +checkbox({text: "Можно c питомцами", isChecked: true})
                    +checkbox({text: "Можно пригласить гостей (до 10 человек)", isChecked: true})

                .page__element.page__element_indent-40
                    .page__annotation
                        h3.page__element-name.page__element-name_indent-16 Radio Buttons
                    +radio({text: "Мужчина", isChecked: true, name: "sex"})
                    +radio({text: "Женщина", isChecked: false, name: "sex"})

                .page__element.page__element_indent-40
                    .page__annotation
                        h3.page__element-name.page__element-name_indent-16 Toggle
                    +toggle({text: "Получать спецпредложения", isActive: true})
                    +toggle({text: "Получать спецпредложения", isActive: false})

                .page__element.page__element_indent-40
                    .page__annotation
                        h3.page__element-name.page__element-name_indent-16 Like button
                    +like-button({count: "2", isLiked: false})
                    +like-button({count: "12", isLiked: true})
                    
                .page__element.page__element_indent-155
                    .page__annotation
                        h3.page__element-name.page__element-name_indent-16 Rate button
                    +rate-button({countFill: 4, id: "a"})(class="rate-button__indent-right__20")
                    +rate-button({countFill: 5, id: "b"})

                .page__element.page__element_indent-346
                    .page__annotation
                        h3.page__element-name Dropdown
                    +dropdown({
                        placeholder: "Сколько гостей", isActive: true, withButton: true, items: [{
                            id: "adults",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "гость, гостя, гостей",
                            itemName: "Взрослые",
                            startAmount: "0"
                        },
                        {
                            id: "kids",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "гость, гостя, гостей",
                            itemName: "Дети",
                            startAmount: "0"
                        },
                        {
                            id: "babys",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "младенец, младенца, младенцев",
                            itemName: "Младенцы",
                            startAmount: "0"
                        }
                    ]})

                .page__element.page__element_indent-210
                    .page__annotation
                        h3.page__element-name.page__element-name_indent-16 Rich checkbox button
                    +rich-checkbox({text: "Широкий коридор", subtext: "Ширина коридоров в номере не менее 91 см."})
                    +rich-checkbox({text: "Помощник для инвалидов", subtext: "На 1 этаже вас встретит специалист  и проводит до номера."})
                
                .page__element
                    +comment({
                        imageUrl: '../images/comment-avatars/avatar-1.png',
                        likesCount: '12',
                        authorName: 'Мурад Сарафанов',
                        days: '5 дней назад',
                        comment: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                    })

            .page__column.page__column-3
                .page__element
                    +range-slider({text: "Range Slider"})
                .page__element.page__element_indent-75
                    .page__annotation
                        h3.page__element-name.page__element-name_indent-16 Buttons
                    +button({species: "purple", text: "click me"})(class="page__buton")
                    +button({species: "purple", text: "click me"})(class="page__buton_active")
                    +button({species: "white", text: "click me"})(class="page__buton")
                    +button({species: "white", text: "click me"})(class="page__buton_active")
                    +button({species: "no-border", text: "click me"})(class="page__buton")
                    +button({species: "no-border", text: "click me"})(class="page__buton_active")
                    +button({species: "wide", text: "Перейти к оплате"})

                .page__element.page__element_indent-205
                    .page__annotation
                        h3.page__element-name.page__element-name_indent-16 Pagination 
                    +pagination()

                .page__element.page__element_indent-346
                    .page__annotation
                        h3.page__element-name Dropdown
                    +dropdown({
                        placeholder: "Сколько гостей", isActive: true, withButton: true, items: [{
                            id: "adults",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "гость, гостя, гостей",
                            itemName: "Взрослые",
                            startAmount: "2"
                        },
                        {
                            id: "kids",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "гость, гостя, гостей",
                            itemName: "Дети",
                            startAmount: "1"
                        },
                        {
                            id: "babys",
                            minAmount: "0",
                            maxAmount: "10",
                            forms: "младенец, младенца, младенцев",
                            itemName: "Младенцы",
                            startAmount: "0"
                        }
                    ]})

                .page__element
                    .page__annotation
                        h3.page__element-name.page__element-name_indent-16 Bullet list
                    +bullet-list({items: [
                        {
                            text: "Нельзя с питомцами"
                        },
                        {
                            text: "Без вечеринок и мероприятий"
                        },
                        {
                            text: "Время прибытия — после 13:00, а выезд до 12:00"
                        }
                    ]})

        //- Cards
        h1.block__name Cards
        .cards.page
            .page__column.page__column-1
                +select-room-card().card_indent-40
                +registration-card()
            .page__column.page__column-2
                +room-card().card_indent-40
                +login-card()
            .page__column.page__column-3

