include ../../components/header/header
include ../../components/footer/footer
include ../../components/text-field/text-field
include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown

doctype html 
html(lang="ru")
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        title UI Kit
    body 
        //- Headers & Footers
        h1.block__name Headers & Footers
        +header(false)(class="headers__block")
        +header(true)(class="header__block-2")

        +footer(false)(class="footer__block")
        +footer(true)(class="footer__mobile-block")

        //- Form Elements
        h1.block__name Form Elements
        .form-elements
            .form-elements__column.form-elements__column-1
                .form-elements__element
                    .form-elements__annotation
                        h3.form-elements__element-name Text Field
                        p.form-elements__subtext Default
                    +text-field('email', 'Email')

                .form-elements__element
                    .form-elements__annotation
                        h3.form-elements__element-name Text Field
                        p.form-elements__subtext Hover / Focus
                    +text-field("text", "", "This is pretty awesome")(class="text-field__active")

                .form-elements__element
                    .form-elements__annotation
                        h3.form-elements__element-name Dropdown
                    +dropdown(true)

                .form-elements__element.form-elements__element_indent-40
                    .form-elements__annotation
                        h3.form-elements__element-name Masked Text Field
                    +datepicker()

                .form-elements__element.form-elements_date-dropdown.form-elements__element_indent-40
                    .form-elements__annotation
                        h3.form-elements__element-name Date dropdown
                    +datepicker('mini')(class="datepicker_mini_start")
                    .form-elements__annotation
                        h3.form-elements__element-name Date dropdown
                    +datepicker('mini')(class="datepicker_mini_end")

                .form-elements__element.form-elements__element_indent-40
                    .form-elements__annotation
                        h3.form-elements__element-name Filter date dropdown
                    +datepicker('filter')

                .form-elements__element.form-elements__element_indent-100
                    .form-elements__annotation
                        h3.form-elements__element-name Subscription text field
                    include ../../components/subscription-field/subscription-field

                .form-elements__element
                    .form-elements__annotation
                        h3.form-elements__element-name Dropdown
                        p.form-elements__subtext Default
                    +dropdown(false, 'Какие удобства')

                .form-elements__element
                    .form-elements__annotation
                        h3.form-elements__element-name Dropdown
                        p.form-elements__subtext Expanded
                    +dropdown(false, 'Какие удобства')(class="dropdown_extended-always")

            .form-elements__column.form-elements__column-2

            .form-elements__column.form-elements__column-3

        
        
        
