include ../../../components/headers-and-footers/header/header
include ../../../components/headers-and-footers/footer/footer
include ../../../components/form-elements/dropdown/dropdown
include ../../../components/form-elements/checkbox/checkbox
include ../../../components/form-elements/datepicker/datepicker
include ../../../components/form-elements/range-slider/range-slider

include ../../../components/form-elements/button/button

include ../../../components/form-elements/checkbox-list/checkbox-list
include ../../../components/form-elements/rich-checkbox/rich-checkbox
include ../../../components/form-elements/pagination/pagination
include ../../../components/cards/room-mini-card/room-mini-card

doctype html 
html(lang="ru")
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        title Search Room
    body 
        +header({registred: false}) 
        main.search-room__main 
            aside.search-room__aside 
                .page__element.page__element_indent-20
                    h3.page__element-name даты пребывания в отеле
                    +datepicker({type: "filter", value: "19 авг - 23 авг"})
                
                .page__element.page__element_indent-30
                    h3.page__element-name Гости
                    +dropdown({
                            placeholder: "Сколько гостей", isActive: false, withButton: true, items: [{
                                id: "adults",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "гость, гостя, гостей",
                                itemName: "Взрослые",
                                startAmount: "2"
                            },
                            {
                                id: "kids",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "гость, гостя, гостей",
                                itemName: "Дети",
                                startAmount: "1"
                            },
                            {
                                id: "babys",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "младенец, младенца, младенцев",
                                itemName: "Младенцы",
                                startAmount: "1"
                            }
                    ]})

                .page__element.page__element_indent-30
                    +range-slider({
                        text: "диапазон цены", 
                        subtext: "Стоимость за сутки пребывания в номере", 
                        minValue: 5000, 
                        maxValue: 10000
                    })

                .page__element.page__element_indent-30
                    h3.page__element-name.page__element-name_indent-16 правила дома
                    +checkbox({text: "Можно курить", isChecked: false})
                    +checkbox({text: "Можно c питомцами", isChecked: true})
                    +checkbox({text: "Можно пригласить гостей (до 10 человек)", isChecked: true})

                .page__element.page__element_indent-30
                    h3.page__element-name.page__element-name_indent-16 доступность
                    +rich-checkbox({text: "Широкий коридор", subtext: "Ширина коридоров в номере не менее 91 см."})
                    +rich-checkbox({text: "Помощник для инвалидов", subtext: "На 1 этаже вас встретит специалист  и проводит до номера."})

                .page__element.page__element_indent-30
                    h3.page__element-name удобства номера
                    +dropdown({
                            placeholder: "Удобства номера", isActive: false, withButton: false, items: [{
                                id: "bedrooms",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "спальня, спальни, спален",
                                itemName: "Спальни",
                                startAmount: "2"
                            },
                            {
                                id: "beds",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "кровать, кровати, кроватей",
                                itemName: "Кровати",
                                startAmount: "2"
                            },
                            {
                                id: "bathrooms",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "ванная, ванные, ванн",
                                itemName: "Ванные комнаты",
                                startAmount: ""
                            }
                    ]})

                .page__element
                    +checkbox-list({text: "дополнительные удобства", isActive: false})
                            +checkbox({text: "Завтрак", isChecked: false})
                            +checkbox({text: "Письменный стол", isChecked: true})
                            +checkbox({text: "Стул для кормления", isChecked: true})
                            +checkbox({text: "Кроватка", isChecked: true})
                            +checkbox({text: "Телевизор", isChecked: false})
                            +checkbox({text: "Шампунь", isChecked: false})
                            +checkbox({text: "Телевизор", isChecked: false})
                            +checkbox({text: "Шампунь", isChecked: false})
            
            aside.search-room__aside.search-room__aside_mobile 
                header.aside__header
                    a(href="../index.html.html").logo
                        img(src="../images/logo/logo.png", alt="Logo").logo_img.header__logo_img
                        img(src="../images/logo/logo-text.png", alt="logo text").logo_text.header__logo_text
                    
                    .aside__close-btn 

                .page__element.page__element_indent-20
                    h3.page__element-name даты пребывания в отеле
                    +datepicker({type: "filter", value: "19 авг - 23 авг"})
                
                .page__element.page__element_indent-30
                    h3.page__element-name Гости
                    +dropdown({
                            placeholder: "Сколько гостей", isActive: false, withButton: true, items: [{
                                id: "adults",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "гость, гостя, гостей",
                                itemName: "Взрослые",
                                startAmount: "2"
                            },
                            {
                                id: "kids",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "гость, гостя, гостей",
                                itemName: "Дети",
                                startAmount: "1"
                            },
                            {
                                id: "babys",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "младенец, младенца, младенцев",
                                itemName: "Младенцы",
                                startAmount: "1"
                            }
                    ]})

                .page__element.page__element_indent-30
                    +range-slider({
                        text: "диапазон цены", 
                        subtext: "Стоимость за сутки пребывания в номере", 
                        minValue: 5000, 
                        maxValue: 10000
                    })

                .page__element.page__element_indent-30
                    h3.page__element-name.page__element-name_indent-16 правила дома
                    +checkbox({text: "Можно курить", isChecked: false})
                    +checkbox({text: "Можно c питомцами", isChecked: true})
                    +checkbox({text: "Можно пригласить гостей (до 10 человек)", isChecked: true})

                .page__element.page__element_indent-30
                    h3.page__element-name.page__element-name_indent-16 доступность
                    +rich-checkbox({text: "Широкий коридор", subtext: "Ширина коридоров в номере не менее 91 см."})
                    +rich-checkbox({text: "Помощник для инвалидов", subtext: "На 1 этаже вас встретит специалист  и проводит до номера."})

                .page__element.page__element_indent-30
                    h3.page__element-name удобства номера
                    +dropdown({
                            placeholder: "Удобства номера", isActive: false, withButton: false, items: [{
                                id: "bedrooms",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "спальня, спальни, спален",
                                itemName: "Спальни",
                                startAmount: "2"
                            },
                            {
                                id: "beds",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "кровать, кровати, кроватей",
                                itemName: "Кровати",
                                startAmount: "2"
                            },
                            {
                                id: "bathrooms",
                                minAmount: "0",
                                maxAmount: "10",
                                forms: "ванная, ванные, ванн",
                                itemName: "Ванные комнаты",
                                startAmount: ""
                            }
                    ]})

                .page__element
                    +checkbox-list({text: "дополнительные удобства", isActive: false})
                            +checkbox({text: "Завтрак", isChecked: false})
                            +checkbox({text: "Письменный стол", isChecked: true})
                            +checkbox({text: "Стул для кормления", isChecked: true})
                            +checkbox({text: "Кроватка", isChecked: true})
                            +checkbox({text: "Телевизор", isChecked: false})
                            +checkbox({text: "Шампунь", isChecked: false})
                            +checkbox({text: "Телевизор", isChecked: false})
                            +checkbox({text: "Шампунь", isChecked: false})

            section.search-room__section
                +button({species: "purple", text: "Фильтры"}).search-room__btn-filter

                h1.search-room__title Номера, которые мы для вас подобрали
                .search-room__cards 
                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image1.png', '../images/slider-images/image2.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "888", 
                            roomType: "Люкс",
                            roomPrice: "9 990",
                            rating: 5,
                            ratingId: "1",
                            reviewNumber: "145"
                        })
                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image2.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "840", 
                            roomType: "",
                            roomPrice: "9 900",
                            rating: 4,
                            ratingId: "2",
                            reviewNumber: "65"
                        })
                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image3.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "980", 
                            roomType: "Люкс",
                            roomPrice: "8 500",
                            rating: 3,
                            ratingId: "3",
                            reviewNumber: "35"
                        })

                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image4.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "856", 
                            roomType: "",
                            roomPrice: "7 300",
                            rating: 5,
                            ratingId: "4",
                            reviewNumber: "19"
                        })
                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image5.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "740", 
                            roomType: "",
                            roomPrice: "6 000",
                            rating: 4,
                            ratingId: "5",
                            reviewNumber: "44"
                        })
                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image6.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "982", 
                            roomType: "",
                            roomPrice: "5 800",
                            rating: 3,
                            ratingId: "6",
                            reviewNumber: "56"
                        })
                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image7.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "678", 
                            roomType: "",
                            roomPrice: "5 500",
                            rating: 5,
                            ratingId: "7",
                            reviewNumber: "45"
                        })

                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image8.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "450", 
                            roomType: "Люкс",
                            roomPrice: "5 300",
                            rating: 4,
                            ratingId: "8",
                            reviewNumber: "39"
                        })
                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image9.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "350", 
                            roomType: "",
                            roomPrice: "5 000",
                            rating: 3,
                            ratingId: "9",
                            reviewNumber: "77"
                        })
                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image10.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "666", 
                            roomType: "Люкс",
                            roomPrice: "5 000",
                            rating: 5,
                            ratingId: "10",
                            reviewNumber: "25"
                        })

                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image11.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "444", 
                            roomType: "Люкс",
                            roomPrice: "5 000",
                            rating: 3,
                            ratingId: "11",
                            reviewNumber: "15"
                        })
                    .search-room__card-item 
                        +room-mini-card({
                            urls: ['../images/slider-images/image12.png', '../images/slider-images/image1.png', '../images/slider-images/image3.png', '../images/slider-images/image4.png'],
                            roomNumber: "352", 
                            roomType: "",
                            roomPrice: "5 000",
                            rating: 3,
                            ratingId: "12",
                            reviewNumber: "55"
                        })
                    +pagination()

        +footer({mobile: false})