.datepicker {
    width: 320px;
    height: 44px;
    
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: $dark-75;

    border: 1px solid $dark-25;
    border-radius: 4px;
    outline: none;

    padding: 10px 15px;

    transition: .2s border-color;

    &:focus {
        color: $dark-75;
    }

    &::placeholder {
        color: $dark-25;
    }

    &__wrapper {
        position: relative;
        width: 150px;
    }

    &_mini {
        width: 150px;
        display: inline-flex;
        position: relative;
        cursor: pointer;

        &::placeholder {
            color: $dark-75;
        }
    }

    &_mini + &__wrapper:after,
    &_filter + &__wrapper:after {
        content: "";
        cursor: pointer;
        position: absolute;
        top: -28px;
        right: 15px;
        display: block;
        width: 6px;
        height: 6px;
        border: 2px solid #8F8FA0;
        border-top: none;
        border-left: none;
        pointer-events: none;

        transform: rotate(45deg);
    }

    &_filter,
    &_filter + &__wrapper {
        cursor: pointer;
        width: 266px;
        text-transform: lowercase;

        &::placeholder {
            text-transform: uppercase;
        }
    }
}

// Стили библиотеки JQuery UI

#ui-datepicker-div {
    width: 320px;
    padding: 20px;
    border-radius: 4px;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1000 !important;
}

.ui-datepicker-header {
    background-color: #fff;
    border: none;
}

.ui-widget-header .ui-icon {
    background-image: none;
    overflow: visible;
}

.ui-datepicker td {
    max-width: 40px;
    max-height: 40px;
}

.ui-icon-circle-triangle-e::after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;

    position: absolute;
    top: 50%;
    right: 0;
    
    transform: translateY(-50%);
    
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.ui-icon-circle-triangle-e::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;

    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%) rotate(45deg);

    border: 2px solid black;
    border-bottom: none;
    border-left: none;
    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-image-slice: 1;
}

.ui-icon-circle-triangle-w::after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;

    position: absolute;
    top: 50%;
    left: 0;
    
    transform: translateY(-50%) rotate(180deg);
    
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.ui-icon-circle-triangle-w::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;

    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%) rotate(225deg);

    border: 2px solid black;
    border-bottom: none;
    border-left: none;
    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-image-slice: 1;
}

.ui-datepicker-next,
.ui-datepicker-prev {
    padding: 15px;

    transition: .2s background-color;
}

.ui-datepicker-next-hover:hover,
.ui-datepicker-prev-hover:hover {
    background-color: rgba(188, 156, 255, .2);
    border: none;
}

.ui-datepicker-next-hover:hover {
    transform: translate(-1px, 1px);
}

.ui-datepicker-prev-hover:hover {
    transform: translate(1px, 1px);
}

.ui-datepicker-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    padding-top: 4px;
    vertical-align: bottom;
}

.ui-datepicker th {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: rgba(188, 156, 255, 1);
    width: 40px;
    height: 40px;
    padding: 0;
}

td.ui-datepicker-other-month {
    color: $dark-25 !important;
    opacity: .25 !important;
}

td .ui-state-default {
    border-radius: 50px;
    background-color: #fff !important;
    color: $dark-50 !important;
    border: none !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-family: 'Montserrat';    font-size: 12px;
    line-height: 15px;
}

td .ui-state-hover:hover {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important;
    font-family: 'Montserrat';
    font-weight: 700;    color: #fff !important;
}

td .ui-state-highlight {
    font-family: 'Montserrat';
    font-weight: 700 !important;
    color: #fff !important;
    background: linear-gradient(180deg, rgba(111, 207, 151, 1) 0%, rgba(102, 210, 234, 1) 100%) !important;
}

button.ui-datepicker-close,
button.ui-datepicker-current {
    margin: 0 !important;
    border: none !important;
    background-color: #fff !important;
    cursor: pointer;
    height: 15px !important;
    padding: 0 !important;

    font-size: 12px !important;
    font-family: 'Montserrat';
    font-weight: 700 !important;
    text-transform: uppercase !important;
    color: $purple !important;
    opacity: 1 !important;

    transition: .2s color;
}

button.ui-datepicker-close:hover,
button.ui-datepicker-current:hover {
    color: $dark-50 !important;
}

.ui-datepicker-buttonpane {
    border: none;
    margin: 0;
}

td a,
td span {
    padding: 0 !important;
}

.selected .ui-state-active {
    border-radius: 0;
    position: relative;
    z-index: 10;
}

.selected .ui-state-active::before {
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -20px;
    z-index: -1;
}

tr .selected-end:not(.selected-start):first-child .ui-state-active::before {
    display: block;
    left: 0;
    right: 20px;
}

.selected:not(tr td:first-child) .ui-state-highlight::before, 
.selected-start:not(.selected-end) .ui-state-active::before {
    left: 20px;
}

.selected.first-of-month:first-of-type .ui-state-active::before {
    left: 10px;
}

.selected:not(.selected-start).ui-datepicker-other-month:first-of-type .ui-state-active::before {
    left: 0;
}

.selected.ui-datepicker-week-end:nth-child(2n + 1) .ui-state-active::before,
.selected.last-of-month .ui-state-active::before {
    right: 0;
}

.selected .ui-state-highlight::after {
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(111, 207, 151, 1) 0%, rgba(102, 210, 234, 1) 100%);
    border-radius: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.selected .ui-state-highlight:hover::after {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%)
}

.selected-end .ui-state-active::before {
    display: none;
}

.selected-end:not(.selected-start).first-of-month .ui-state-active::before,
.selected-end:not(.selected-start).first-of-month .ui-state-hover::before {
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 20px;
    z-index: -1;
}

.selected .ui-state-highlight {
    border-radius: 50px;
}

.selected-start .ui-state-active,
.selected-end .ui-state-active,
.selected .ui-state-active:hover,
.ui-datepicker-current-day .ui-state-active {
    border-radius: 50px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-family: 'Montserrat';
    font-weight: 700;    color: #fff !important;
}

.selected:not(.ui-datepicker-other-month):not(:nth-child(7n+1)) .ui-state-active:hover::before,
.selected-start .ui-state-active::before {
    left: 20px;
}

.selected.first-of-month:not(.selected-start) .ui-state-active:hover::before {
    left: 0 !important;
}

.selected-end:not(.selected-start).ui-datepicker-other-month .ui-state-active::before {
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 20px;
    z-index: -1;
}

.ui-datepicker-other-month .ui-state-active::before {
    right: 0;
    left: 0;
}