include ../../form-elements/rate-button/rate-button

mixin room-mini-card({urls, roomNumber, roomType, roomPrice, rating, ratingId, reviewNumber})
    div(class= attributes.class ? "room-mini-card " + attributes.class : "room-mini-card")
        .room-mini-card__slider 
            each url in urls
                img(src= url, alt="slider image").room-mini-card__slider__img

            .room-mini-card__slider__arrow.room-mini-card__slider__arrow_left
            .room-mini-card__slider__arrow.room-mini-card__slider__arrow_right 
            
            ul.room-mini-card__slider__pagination 
                - for (let i = 0; i < urls.length; i++)
                    li.room-mini-card__slider__pagination__dot

        a(href="./room-details.html").room-mini-card__wrapper
            .room-mini-card__card-name
                span №
                p.room-mini-card__number= roomNumber
                p.room-mini-card__type-of-room= roomType
            
            p.room-mini-card__price-per-day 
                span.room-mini-card__price= roomPrice + '₽ ' 
                |  в сутки
        
        .room-mini-card__reviews
            +rate-button(({countFill: rating, id: ratingId}))
            p.room-mini-card__review
                span.room-mini-card__reviews-number= reviewNumber + ' ' 
                | Отзывов
