.room-details {
    background-color: #fff;
    padding: 70px 140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 780px;
    }

    &__images {
        max-height: 485px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__img {
        vertical-align: bottom;
        object-fit: cover;
        object-position: center;

        &:nth-child(2) {
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }

    &__subtitle {
        margin-bottom: 20px;
    }

    &__column-1 {
        width: 68.13%;
        max-height: 485px;
        height: 34.45vw;
    }

    &__column-2 {
        width: 31.87%;
        max-height: 242.5px;
        height: 17.225vw;
    }

    &__main-item {
        max-width: 340px;
        margin-bottom: 30px;

        &:nth-last-child(-n+2) {
            align-self: baseline;
            margin-bottom: 0;
        }

        &_comments {
            max-width: none;
            width: 100%;
        }
    }

    &__comment {
        margin-bottom: 23px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__reviews {
        display: flex;
        justify-content: space-between;
        max-width: 710px;
        width: 100%;
    }

    &__reviews-count {
        color: $dark-50;
    }

    @media (max-width: 1439px) {
        &__main {
            max-width: 100%;
            margin-bottom: 60px;
            align-content: center;

        }

        &__aside {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    @media (max-width: 1280px) {
        & {
            padding: 70px 100px;
        }
    }

    @media (max-width: 1030px) {
        & {
            padding: 70px 60px;
        }
    }

    @media (max-width: 960px) {
        & {
            padding: 70px 40px;
        }

        &__images {
            flex-direction: row;
        }

        &__column-1 {
            width: 100%;
        }

        &__column-2 {
            width: 50%;
        }
    }

    @media (max-width: 900px) {
        & {
            padding: 70px 80px;
        }
    }

    @media (max-width: 780px) {
        & {
            padding-top: 40px;
        }

        &__subtitle {
            text-align: center;
            margin-bottom: 30px;
        }

        &__main-item {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 40px;

            &:nth-last-child(2) {
                margin-bottom: 40px;
            }
        }
    }

    @media (max-width: 780px) {
        & {
            padding: 40px;
        }
    }

    @media (max-width: 540px) {
        &__reviews {
            justify-content: center;
        }

        &__reviews-count {
            display: none;
        }
    }
}