mixin rich-checkbox({text, subtext})
    label.rich-checkbox 
        input(type="checkbox").rich-checkbox__hidden
        span.rich-checkbox__text !{text}
        span.rich-checkbox__subtext !{subtext}