.registration-card {
    .text-field,
    &__radio-buttons {
        margin-bottom: 10px;
    }
    
    .datepicker_standart {
        margin-bottom: 20px;
    }

    .switch-btn__wrapper  {
        margin-bottom: 24px;
    }

    .button_wide {
        margin-bottom: 30px;
    }

    &__login  {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;

        &-text {
            color: #000;
        }
    }

    @media (max-width: 470px) {
        & {
            width: 100%;
            background-color: rgba(255, 255, 255, .9);

            .text-field,
            .button_wide,
            .datepicker {
                width: 100%;
            }
        }
    }
}