mixin toggle({text, isActive})
    div(class= attributes.class ? "switch-btn__wrapper " + attributes.class : "switch-btn__wrapper")
        div(class= isActive ? 'switch-btn switch-btn_on' : 'switch-btn')
        span.switch-btn__text= text