.select-room {
    &__date {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 65px;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__guests {
        margin-bottom: 31px;
    }
}