mixin range-slider({text, subtext})
    .range-slider__wrapper
        h3.range-slider__text= text
        span.range-slider__result
        div(class="range-slider")
        span.range-slider__subtext= subtext