.login-card {
    &__email-input {
        margin-bottom: 10px;
    }

    &__password-input {
        margin-bottom: 20px;
    }

    &__login-button {
        margin-bottom: 30px;
    }

    &__registration  {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-text {
            color: #000;
        }
    }

    @media (max-width: 470px) {
        & {
            width: 100%;
            background-color: rgba(255, 255, 255, .85);

            .text-field,
            .button_wide {
                width: 100%;
            }
        }
    }   
}