include ../button/button

mixin header(registred)
    header(class="header" + ' ' + attributes.class)
        a.header__logo
            img(src="../images/logo.png", alt="Logo").header__logo-img
            img(src="../images/logo-text.png" alt="logo text").header__logo-text

        nav.header__nav 
            a.header__link.header__link_active О нас
            a.header__link.header__link_expanded Услуги
            a.header__link Вакансии
            a.header__link Новости
            a.header__link.header__link_expanded Соглашения

            

            .header__signin 
                if registred
                    .separator 
                    p.user-name Юлий Цезарь
                else 
                    +button('white', 'Войти')(class="header__button")
                    +button('purple', 'Зарегестрироваться')

        button.header__burger 
                .header__burger-item 

                    
                    