include ../button/button

mixin header(registred)
    header(class=attributes.class ? "header" + ' ' + attributes.class : "header")
        a.logo
            img(src="../images/logo.png", alt="Logo").logo_img.header__logo_img
            img(src="../images/logo-text.png" alt="logo text").logo_text.header__logo_img

        nav.header__nav 
            a.header__link.header__link_active О нас
            a.header__link.header__link_expanded Услуги
            a.header__link Вакансии
            a.header__link Новости
            a.header__link.header__link_expanded Соглашения

            

            .header__signin 
                if registred
                    .separator 
                    p.user-name Юлий Цезарь
                else 
                    +button('white', 'Войти')(class="header__button")
                    +button('purple', 'Зарегестрироваться')

        button.header__burger 
                .header__burger-item 

                    
                    