mixin pagination()
    .pagination 
        .pagination__items 
            a(href="#").pagination__item.pagination__item_active 1
            a(href="#").pagination__item 2
            a(href="#").pagination__item 3
            .pagination__item.pagination__skip ...
            a(href="#").pagination__item 15
            a(href="#").pagination__arrow
        p.pagination__text  1-12 из 100+ вариантов аренды