mixin advantage({svg, name, subtext, withBorder})
    div(class= withBorder ? "advantage advantage_border" : "advantage")
        .advantage__image
            #{svg}
        .advantage__words
            h3.advantage__name !{name}
            p.advantage__subtext !{subtext}