body {
    background-color: #F4F4F6;
}

.headers__block {
    margin: 140px 0 40px;
}

.header__block-2 {
    margin-bottom: 40px;
}

.footer__block {
    margin-bottom: 40px;
}

.footer__mobile-block {
    margin: 0 auto;
    margin-bottom: 140px;
}