$green: #6FCF97;
$purple: #BC9CFF;
$dark: #1F2041;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.50);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-10: rgba(31, 32, 65, 0.10);
$dark-05: rgba(31, 32, 65, 0.05);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    color: $dark;
}

h1 {
    font-size: 24px;
    line-height: 29px;
}

h2 {
    font-size: 19px;
    line-height: 23px;
}

h3 {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.logo {
    display: flex;
    align-items: center;

    &_img {
        vertical-align: bottom;
        margin-right: 12.5px;
    }
}

// common styles
@import './normalize.css';
@import './fonts/font.css';

// components styles
    // Form Elements
    @import '../../components/form-elements/button/button.scss';
    @import '../../components/form-elements/subscription-field/subscription-field.scss';
    @import '../../components/form-elements/text-field/text-field.scss';
    @import '../../components/form-elements/datepicker/datepicker.scss';
    @import '../../components/form-elements/dropdown/dropdown.scss';
    @import '../../components/form-elements/checkbox/checkbox.scss';
    @import '../../components/form-elements/radio-button/radio.scss';
    @import '../../components/form-elements/toggle/toggle.scss';
    @import '../../components/form-elements/like-button/like-button.scss';
    @import '../../components/form-elements/rate-button/rate-button.scss';
    @import '../../components/form-elements/rich-checkbox/rich-checkbox.scss';
    @import '../../components/form-elements/bullet-list/bullet-list.scss';
    @import '../../components/form-elements/advantage/advantage.scss';
    @import '../../components/form-elements/comment/comment.scss';
    @import '../../components/form-elements/pagination/pagination.scss';
    @import '../../components/form-elements/checkbox-list/checkbox-list.scss';
    @import '../../components/form-elements/range-slider/range-slider.scss';
    // Headers & Footers
    @import '../../components/headers-and-footers/header/header.scss';
    @import '../../components/headers-and-footers/footer/footer.scss';
    @import '../../components/headers-and-footers/burger-menu/burger-menu.scss';
    // Cards
    @import '../../components/cards/room-card/room-card.scss';
    @import '../../components/cards/login-card/login-card.scss';
    @import '../../components/cards/room-mini-card/room-mini-card.scss';
    @import '../../components/cards/select-room-card/select-room-card.scss';
    @import '../../components/cards/registration-card/registration-card.scss';

// pages styles
@import '../../pages/UI Kit/styles.scss';
@import '../../pages/Website Pages/landing-page/landing-page.scss';
@import '../../pages/Website Pages/search-room/search-room.scss';
@import '../../pages/Website Pages/login-page/login-page.scss';
@import '../../pages/Website Pages/room-details/room-details.scss';

.page {
    padding: 140px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;

    &__element {
        margin-bottom: 20px;
        flex-grow: 1;

        &_indent-20 {
            margin-bottom: 20px;
        }
        
        &_indent-30 {
            margin-bottom: 30px;
        }

        &_indent-40 {
            margin-bottom: 40px;
        }

        &_indent-75 {
            margin-bottom: 75px;
        }

        &_indent-100 {
            margin-bottom: 100px;
        }

        &_indent-155 {
            margin-bottom: 155px;
        }

        &_indent-205 {
            margin-bottom: 205px;
        }

        &_indent-210 {
            margin-bottom: 210px;
        }

        &_indent-250 {
            margin-bottom: 250px;
        }

        &_indent-346 {
            margin-bottom: 346px;
        }
    }

    &__annotation {
        display: flex;
        justify-content: space-between;

        align-items: center;
    }

    &__subtext {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 5px;
        color: $dark-25;
        text-transform: uppercase;
    }

    &__element-name {
        margin-bottom: 5px;
    }

    &_date-dropdown {
        display: flex;
        max-height: 70px;
        width: 320px;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__column-2,
    &__column-3 {
        width: 320px;
    }

    &__element-name_indent-16 {
        margin-bottom: 16px;
    }
}