.text-field {
    width: 320px;
    height: 44px;
    
    font-family: 'Montserrat-Regular';
    color: $dark-75;

    border: 1px solid $dark-25;
    border-radius: 4px;
    outline: none;

    padding: 10px 15px;

    transition: .2s border-color;

    &:hover, &:focus {
        border: 1px solid $dark-75;
        color: $dark-75;
    }

    &::placeholder {
        color: $dark-25;
    }
}